<h3> Register a Complaint! </h3>
<form method="POST" action="/complain">
  Complaint: <input type="text" name="complaint"> Subway Line: <input type="text" id="txtbox" name="line"> <input type="submit" value="Complain!">
</form>
