<!DOCTYPE html>
<html>
<head> <h1 id="title"> The Complaining Commuter </h1><hr>
       <img src = "/img/subway.jpg">
       <link rel = "stylesheet" type="text/css" href = "/css/base.css">
</head>
<body>
  {{{body}}}
<hr>
<footer>
  <a href="/">Home </a>

    <a href='/complain'>Complain!</a>

    <a href="/stats">Stats</a>
</body>
<html>
